.card {
  background-color: #01579b;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0 0 0 / 20%);
  color: whitesmoke;
  height: max-content;
  width: 250px;
}

.name {
  background-color: #333;
  min-height: 20px;
  padding: 5px 10px;
  text-align: right;
}

.imageContainer {
  align-items: center;
  backdrop-filter: opacity(0.2);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.image {
  background-size: cover;
  box-shadow: 0 0 40px rgba(255 255 255 / 50%);
  max-height: 180px;
}

.infos {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 2px;
}

.infos p {
  display: flex;
  justify-content: space-between;
}
