.newCard {
  align-items: center;
  background-color: #202020;
  background-image: url('./cubic.png');
  box-shadow: 0 0 15px rgba(0 0 0 / 30%);
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 30px 10px;
}

hr {
  background-color: rgb(189, 189, 189);
  border: 0;
  height: 300px;
  margin-inline: 40px;
  width: 1px;
}

.searchArea {
  margin-inline: auto;
  margin-top: 40px;
  position: relative;
  width: fit-content;
}

.searchTitle {
  color: #2980b9;
  margin-bottom: 20px;
  text-align: center;
}

.inputArea {
  display: flex;
}

.search {
  border: 1px solid #e0e0e0;
  height: 30px;
  padding: 0 10px;
  width: 400px;
}

.search:focus {
  border: 1px solid #2980b9;
}

.searchIcon {
  background-color: #2980b9;
  color: whitesmoke;
  height: 30px;
  padding: 5px;
  width: 50px;
}
